button {
    background-color: #87CEFA;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

button :hover {
    background-color: #87C0FA;
}

body {
    font: 16px Arial, sans-serif;
    color:	#69696969;
    background-image: url("bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1, h2 {
    color: #ffffffe0;
    text-shadow: 0 0 1.64706em #4791f1, 0 0 1.64706em #4791f1, 0 0 1.64706em #4791f1;
    transition: text-shadow .18s ease-in;
}