.parent::after {
    clear: both;
}

.contacts, .menu {
    width: 15%;
    border-radius: 4px;
    float: left;
    text-align: center;
    border-bottom: 5px solid #87CEFA;
}

.contacts a, .menu a {
    background-color: #eee;
    color: #696969;
    display: block;
    padding: 50px 20px;
    text-decoration: none;
    font-size: 20px;
}

.card {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.card darker p {
    text-align: right;
}

.contacts a:hover, .menu a:hover {
    background-color: #ccc;
}

.contacts a.active, .menu a.active {
    background-color: #87CEFA;
    color: white;
}
h1 {
    text-align:center;
}
select {
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
}
option {
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
}
.messages {
    margin: auto;
    width: 60%;
    float:left;
    padding:5%;
}
ul {
    list-style-type:none;
}
img {
    height:40px;
    width:40px;
}
.messages img.left {
    float: left;
    max-width: 60px;
    margin-right: 20px;
    border-radius: 50%;
}

.messages img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
    border-radius: 50%;
}


/* .messages a {
    background-color: #eee;
    color: #696969;
    display: block;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
}

.messages a:hover {
    background-color: #ccc;
} */