.parent:after {
    clear: both;
}

.parent {
    height: 100%;
    width: 100%;
}

.menu, .contacts {
    width: 15%;
    border-radius: 4px;
    float: left;
    text-align: center;
    border-bottom: 5px solid #87CEFA;
}

.profile::after {
    content: "";
    clear: both;
    display: table;
}

.profile {
    width: 60%;
    padding: 5%;
    float: left;
    margin: auto;
}

.top_info::after {
    clear: both;
}

.top_info {
    height: 20%;
    width: 100%;
    float: left;
}

    .top_info p {
        text-indent: 1em;
    }

    .top_info select {
        border: none;
        padding: 5px 5px;
        text-decoration: none;
        font-size: 14px;
        border-radius: 4px;
        width: auto;
    }

.editBlock::after {
    clear: both;
}

.editBlock {
    width: 70%;
    display: inline-block;
    padding-left: 2em;
}

.editEntry::after {
    clear: both;
}

.editEntry {
    width: 80%;
}

    .editEntry select {
        width: 90%;
    }

.editButton {
    width: 20%;
    float: right;
}

.updateButton {
    background-color: #87CEFA;
    border: 1px solid #ccc;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    display: unset;
}

input[type=text] {
    width: 90%;
    padding: 5px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto;
    float: left;
}

.bot_info {
    height: 80%;
    width: 100%;
    float: left;
}

.menu a, .contacts a {
    background-color: #eee;
    color: #696969;
    display: block;
    padding: 50px 20px;
    text-decoration: none;
    font-size: 20px;
}

    .menu a:hover, .contacts a:hover {
        background-color: #ccc;
    }

    .menu a:active, .contacts a:active {
        background-color: #87CEFA;
        color: white;
    }

img {
    height: 150px;
    width: 150px;
    float: left;
    padding-right: 20px;
}

h1 {
    text-align: center;
}

h3::after {
    clear: both;
}

option {
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
}

#contactSelect {
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
}

ul {
    list-style-type: none;
}
